{% extends "parserator_web/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
  <div class="row pt-5 pb-4">
    <div class="col-12">
      <h3 id="usaddress-parser"><i class="fa fa-fw fa-map-marker-alt"></i> U.S. address parser</h3>
      <p>Dealing with some messy or unstructured addresses? We can parse them for you.</p>
      <div class="card card-body bg-light">
        <p><strong>Try it out!</strong> Parse an address in the United States into fields like <code>AddressNumber</code>, <code>StreetName</code> and <code>ZipCode</code>.</p>
        <form class="form" role="form">
          {% csrf_token %}
          <input name="address" type="text" class="form-control" id="address" placeholder="123 Main St. Suite 100 Chicago, IL">
          <button id="submit" type="submit" class="btn btn-success mt-3">Parse!</button>
        </form>
      </div>
      <div id="address-results" style="display:none">
        <h4>Parsing results</h4>
        <p>Address type: <strong><span id="parse-type"></span></strong></p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Address part</th>
              <th>Tag</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div id="parse-error" class="alert alert-danger mt-2 text-center" style="display:none; white-space: pre-wrap;" role="alert"> </div>
      <div id="empty-error" class="alert alert-danger mt-2 text-center" style="display:none" role="alert">
        Please provide an address to be parsed.
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    // on user submit, send user input to backend for parsing
    // on return, update webpage with parsed address 
    $('form').submit(function(e){

      // disable refresh on submit
      e.preventDefault();

      // clean up existing results from prior submits
      // hide parse & empty string error in case it is 
      //      being displayed from a prior failure
      $('#parse-error').hide();
      $('#empty-error').hide();
      // remove table body and hide results
      $('table tbody > tr').remove();
      $('#address-results').hide();

      // grab user input_string
      var input_string = $('#address').val().trim();

      // only parse input if user inputted something
      if (input_string != ""){
        // send to the backend via AJAX GET call
        $.ajax({
          url: '/api/parse/',
          type: 'GET',
          data: {'input_string': input_string},
          success: function(resp){
        
            // get parsed address and address type from server response
            var address_components = resp.address_components;
            var address_type = resp.address_type;
            
            // update address type display
            $('#parse-type').text(address_type);

            // update table
            for (const [addr_part, tag] of Object.entries(address_components)) {
                table_row = "<tr><td>" + addr_part + "</td><td>" + tag + "</td>";
                $('table tbody').append(table_row);
            }
  
            // unhide the address results div (display results to the user)
            $('#address-results').show();
  
          },
          // input string could not be parsed by the backend
          error: function(request) {
            console.log(request.responseJSON);
            // fill parse error with error message from server
            var errorResp = request.responseJSON['error'];
            $('#parse-error').text(errorResp);

            // display the parse alert/error 
            $('#parse-error').show();
            
          }
        });
      }
      // user did not input any address to be parsed
      else {
        // display empty string error
        $('#empty-error').show();
      }

    });
  </script>
{% endblock %}
